.git
.github
.vscode
.claude

node_modules
**/node_modules

.nuxt
**/.nuxt
.output
**/.output

.data
**/.data
*.sqlite
*.sqlite-journal
tap.db

.turbo
**/.turbo

*.log
.DS_Store

Dockerfile
.dockerignore
README.md
CLAUDE.md
